html {
    background-color  : #CCCCB2;
    padding-top : 70px;
}

.navbar-fixed-top {
    background-color : #006600;
}

.navbar .nav > li > a {
    color : #FFFFFF;
}


body {
    padding : 10px;
    background-color : #CCCCB2;
    color : #006600;
}

.panel-success {
    border-color : #006600;
    color : #ffffff;
}

.panel-heading {
    background-color : #006600 !important;
}

.panel-title {
    color : #FFFFFF;
}

.table-element {
    color : #006600;
}

